.lang-switcher {
  display: inline;
  font-size: 1.2em;
  font-family: monospace;
}
.current-lang {
  padding: 3px 5px;
  background-color: $brand-color;
  border: 2px solid $brand-color;
  color: $background-color;
}
.link-lang {
  border: 2px solid $brand-color;
  padding: 3px 5px;
  color: $brand-color;
}

